
<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="refresh" th:content="${dashboardURL}"/>
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>response</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/grid/">

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/grid.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <h5 class="lead">Login Successful</h5>
    </div> <!-- /container -->
  </body>
</html>
