
<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

  <title>Login</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

  <!-- Bootstrap core CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" action="#" th:action="@{/login}" th:object="${loginData}" method="post">
  <img class="mb-4" src="../icons/virus.png" alt="" width="90" height="90">
  <h1 class="h3 mb-3 font-weight-normal">Test Center Login</h1>
  <label for="username" class="sr-only">Username</label>
  <input id="username" th:field="*{username}" class="form-control" placeholder="Username" required autofocus>
  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  <p class="mt-5 mb-3 text-muted">&copy; iSensor Lab, Florida State University</p>
</form>
</body>
</html>